{% extends 'EventWebSite/base.html' %}

{% load static %}

{% block title %}

<title>Kg-Events</title>

{% endblock %}

{% block loadcss %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/EventWebSite/event_detail.css' %}"> -->
<style>
    .textbox {
        border: 2px black solid;
    }

    .eventbox>p {
        font-weight: bold;

    }

    .event_title_container {
        height: 400px;
        width: 100%;
    }

    #event_detail {
        margin: 0px;
        padding: 0px;

        font-size: 50px;
        color: white;
        text-shadow: 5px 0 black;

        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    /* ========== Evnet Search ===========*/

    #event_search {
        display: flex;
        padding: 10px 30px;
        margin: 10px -10px;
    }

    #event_search .textbox {
        width: 70%;
        height: 50px;
        border-radius: 4px;
        padding: 5px 10px;
        margin: auto 10px;
        flex-grow: 1;
    }

    #event_search .submitbtn {
        height: 50px;
        width: 25%;
        text-align: center;
        vertical-align: middle;
        background-image: linear-gradient(to right, #4867e0 60%, #329fec);
        border: none;
        border-radius: 4px;
        color: white;
        margin: auto 10px;
    }

    #event_search .submitbtn a {
        text-decoration: none;
        color: white;
    }

    /*================= Events List ============== */

    .event_container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }

    .eventbox {
        padding: 30px 30px;
        margin: 30px;
        background-image: linear-gradient(to right, #4867e0 60%, #329fec);
        border-radius: 10px;
        max-width: 310px;
    }

    .eventbox img {
        border: 5px ridge #329fec;
    }

    .eventbox p {
        margin-bottom: 0px;
    }

    .eventbox .title {
        font-size: 1.3em;
    }

    .eventbox .label {
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}
<!-- <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGfDaB0fBUH2Qams0LolYwb2jxWo496iHTCg&usqp=CAU">

</div> -->


<!-- <form id="event_search" method="GET">
    {% csrf_token %}
    <input class="textbox" type="text" name="q" placeholder="Search event">
    <button style="color: black;" class="submitbtn" type="submit">Search</button>
    <button class="submitbtn">
        <a style="color: black;"href="{% url 'event_detail' %}">Clear Search</a>
    </button>
</form> -->
<br><br><br>
<div class="event_container">
    {% for event in event_list %}
    <div class="eventbox">
        <img src="{{ event.event_logo.url }}" height="300px" width="300px">
        <p class="title">{{event.event_name}}</p>
        <p>{{event.event_detail}}</p>
        <p><span class="label">Rules:</span> {{event.rules}}</p>

        <p><span class="label">Status:</span> {{event.event_status}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block loadScript %}

{% endblock %}